.HomePage{
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url(../../assets/camera-icon.png);
    background-repeat: no-repeat;
    background-size: 45%;
    background-position: right top 15px;
    
}

.container{
    background-color: rgb(180, 197, 197,0.3);
    width: auto;
    height: 100%;
    border-radius: 30px;
    margin-top: 15%;
    margin-left: 0;
    margin-right: 0;
    
    
}

.form{
    z-index: 1;
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formitems{
    width:80%;
    margin-top: 15px;
}

.dialog{
    position : absolute;
}